@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?7m73kb');
    src:  url('fonts/icomoon.eot?7m73kb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7m73kb') format('truetype'),
    url('fonts/icomoon.woff?7m73kb') format('woff'),
    url('fonts/icomoon.svg?7m73kb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-SWM .path1:before {
    content: "\e900";
    color: rgb(82, 174, 50);
}
.icon-SWM .path2:before {
    content: "\e901";
    margin-left: -2.5576171875em;
    color: rgb(0, 82, 151);
}
.icon-SWM .path3:before {
    content: "\e902";
    margin-left: -2.5576171875em;
    color: rgb(0, 0, 0);
}
.icon-SWM .path4:before {
    content: "\e903";
    margin-left: -2.5576171875em;
    color: rgb(0, 0, 0);
}
.icon-SWM .path5:before {
    content: "\e904";
    margin-left: -2.5576171875em;
    color: rgb(0, 0, 0);
}


/* Enter your custom styles here */
.profilePic {
    border-radius: 50%;
    box-shadow: 1px 2px 12px rgba(0,0,0,.5);
    border: 5px solid white;
    margin-top: 0;
    height: 170px;
    width: 170px;
    overflow: hidden;
}

:not(.sapUiIcon) {
    font-family: 'Hind', sans-serif !important;
}

.upperGrid {
    background-color: white;
}
.upperGridElements {
    padding:0 !important;
}

.pic {
    padding-right: 0.05rem;
}
.nameBox {
    margin-top: 4rem;
}
.descBox{
    margin-top: 1rem;
}
.nameTitle {
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

.descriptionTitle {
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
}

.textBox {
    background-color: white;
}

.skillBox {
    background-color: white;
}

.onePadding > div {
    padding: 1rem !important;
}

.noPadding > div {
    padding: 0 !important;
}

.noMarginPaddingLeft {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.noMarginPaddingLeftChild > div {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.titleBold {
    font-weight: bold;
}

.textEmph {
    font-style: italic;
}

.noMarginTopBottom {
    margin-top: 0;
    margin-bottom: 0;
}

.noShadow {
    text-shadow: none !important;
}

.htmlList {
    font-size: 1rem;
}

.cellBox {
    font-size: 1rem;
}

.projectBox {
    padding-right: 10rem;
    line-height: 1.3
}

.customHeight {
    line-height: 1.3 !important;
}

.customIcon {
    font-size: 0.5rem;
}