/* Enter your custom styles here */
.profilePic {
    border-radius: 50%;
    box-shadow: 1px 2px 12px rgba(0,0,0,.5);
    border: 5px solid white;
    margin-top: 0;
    height: 170px;
    width: 170px;
    overflow: hidden;
}

.upperGrid {
    background-color: #EFF4F9;
}
.upperGridElements {
    padding:0 !important;
}

.pic {
    padding-right: 0.05rem;
}
.nameBox {
    margin-top: 4rem;
}
.descBox{
    margin-top: 1rem;
}
.nameTitle {
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
}

.descriptionTitle {
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
}

.textBox {
    background-color: #E7ECF0;
}

.skillBox {
    background-color: #E5E5E5;
}

.onePadding > div {
    padding: 1rem !important;
}

.noPadding > div {
    padding: 0 !important;
}

.noMarginPaddingLeft {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.noMarginPaddingLeftChild > div {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.titleBold {
    font-weight: bold;
}

.textEmph {
    font-style: italic;
}

.noMarginTopBottom {
    margin-top: 0;
    margin-bottom: 0;
}

.noShadow {
    text-shadow: none !important;
}

.htmlList {
    font-size: 1rem;
}

.cellBox {
    font-size: 1rem;
}
