/* Enter your custom styles here */
.profilePic {
    border-radius: 50%;
    margin-top: 0;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.upperGrid {
    background-color: #d5dadc;
}
.upperGridElements {
    margin-top: 2rem;
}
.nameBox {
    margin-top: 4rem;
}
.descBox{
    margin-top: 1rem;
}
.nameTitle {
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
}

.descriptionTitle {
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
}

.textBox {
    background-color: #bac1c4;
}

.skillBox {
    background-color: #9ea8ad;
}

.onePadding > div {
    padding: 1rem !important;
}

.noPadding > div {
    padding: 0 !important;
}

.noMarginPaddingLeft {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.noMarginPaddingLeftChild > div {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.titleBold {
    font-weight: bold;
}

.textEmph {
    font-style: italic;
}

.noMarginTopBottom {
    margin-top: 0;
    margin-bottom: 0;
}

.noShadow {
    text-shadow: none !important;
}

.htmlList {
    font-size: 1rem;
}
